/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.title{
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  list-style: none;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__info {
  font-family: fantasy, cursive;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add-row {
  display: flex;
  margin-top: 20px;
}

.task-list{
  margin: 0;
  padding: 0px;
}

.item {
  list-style: none; 
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 56%;
  display: none;
}
.item__text_new {
  display: inline-block;
  flex-grow: 1;
  width: 318px;
}

.item__text_edit {
  display: inline-block;
  flex-grow: 1;
}
.item__text:focus {
  color: #333;
}

.item-checkbox {
  margin: 0 10px;
}

.item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  flex-grow: 1;
}

.item__label_edit {
  display: none;
}

.item__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.item__img:hover {
  transform: rotateZ(0);
}
